.footer {
  width: 1600px;
  padding: 47px 90px;
  height: 134px;
  flex-shrink: 0;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.03);
  justify-content: space-between;
  align-items: center;
}
